[Desktop Entry]
Name=CPULoad
Name[ca]=C‡rrega d'UPC
Name[de]=Prozessorlast
Name[es]=Carga CPU
Name[eu]=CPU zama
Name[fi]=Prosessorikuorma
Name[fr]=Charge CPU
Name[ja]=CPU…È≤Ÿ
Name[ko]=¡ﬂæ”√≥∏Æ¿Âƒ° ∑ŒµÂ
Name[nl]=Processorbelasting
Name[no]=Prosessorbelastning
Name[pl]=Procesor
Name[pt]=Carga CPU
Comment=CPU Load Meter
Comment[ca]=Mostra la c‡rrega del processador
Comment[de]=Prozessorlastanzeige
Comment[es]=Muestra la carga del procesador
Comment[eu]=CPUak darabilen zama neurtzeko
Comment[fi]=Prosessorin kuormitusmittari
Comment[fr]=Charge du processeur
Comment[ja]=CPU…È≤Ÿ•·°º•ø°º
Comment[ko]=¡ﬂæ”√≥∏Æ¿Âƒ° ∑ŒµÂ √¯¡§
Comment[nl]=Processorbelasting
Comment[no]=MÂler for prosessorbelastning
Comment[pl]=Monitor obci±øenia procesora
Comment[pt]=Monitor da carga de CPU
Exec=multiload_applet --activate-goad-server=multiload_cpuload_applet
Icon=gnome-cpu.png
Terminal=0
Type=Application
