[Desktop Entry]
Name=CPULoad
Name[ja]=CPU…È≤Ÿ
Name[es]=Carga CPU
Name[fr]=Charge CPU
Name[ko]=¡ﬂæ”√≥∏Æ¿Âƒ° ∑ŒµÂ
Name[no]=Prosessorbelastning
Name[de]=Prozessorlast
Name[pl]=Procesor
Name[pt]=Carga CPU
Name[nl]=Processorbelasting
Comment=CPU Load Meter
Comment[ja]=CPU…È≤Ÿ•·°º•ø°º
Comment[es]=Muestra la carga del procesador
Comment[fr]=Charge du processeur
Comment[ko]=¡ﬂæ”√≥∏Æ¿Âƒ° ∑ŒµÂ √¯¡§
Comment[no]=MÂler for prosessorbelastning
Comment[de]=Prozessorlastanzeige
Comment[pl]=Monitor obci±øenia procesora
Comment[pt]=Monitor da carga de CPU
Comment[nl]=Processorbelasting
Exec=multiload_applet --activate-goad-server=multiload_cpuload_applet
Icon=
Terminal=0
Type=Application
