[Desktop Entry]
Name=Load Average
Name[da]=Belastningsgrad
Name[de]=Lastmittel
Name[gl]=Carga Media
Name[ja]=Éé²ÙÊ¿¶Ñ
Name[pl]=¦rednie obci±¿enie
Name[ru]=óÒÅÄÎÑÑ ÚÁÇÒÕÚËÁ
NAme[tr]=Ortalama yük
Comment=Load Average Applet
Comment[da]=Belastningsgrads-applet
Comment[de]=Applet zur Anzeige der durchschnittlichen Last
Comment[gl]=Applet medidora da carga media
Comment[ja]=Éé²ÙÊ¿¶Ñ(¥í¡¼¥É¥¢¥Ù¥ì¡¼¥¸)¤ò·×Â¬
Comment[pl]=Aplet wy¶wietlaj±cy ¶rednie obci±¿enie systemu
Comment[ru]=áĞĞÌÅÔ ÓÒÅÄÎÅÊ ÚÁÇÒÕÚËÉ
Comment[tr]=Ortalama yükü gösteren bir uygulak
Exec=multiload_applet --activate-goad-server=multiload_loadavg_applet
Terminal=0
Type=Application
