[Desktop Entry]
Name=Load Average
Name[gl]=Carga Media
Comment=Load Average Applet
Comment[gl]=Applet medidora da carga media
Exec=multiload_applet --activate-goad-server=multiload_loadavg_applet
Terminal=0
Type=Application
