[Desktop Entry]
Name=Load Average
Name[gl]=Carga Media
Name[ru]=Средняя загрузка
Comment=Load Average Applet
Comment[gl]=Applet medidora da carga media
Comment[ru]=Апплет средней загрузки
Exec=multiload_applet --activate-goad-server=multiload_loadavg_applet
Terminal=0
Type=Application
