[Desktop Entry]
Name=MemLoad
Name[ca]=Càrrega de Memòria
Name[de]=Speicherlast
Name[es]=Carga memoria
Name[eu]=Memoria zama
Name[fi]=Muistinkulutus
Name[fr]=Charge mémoire
Name[hu]=Memóriafoglaltság
Name[ja]=¥á¥â¥êÉé²Ù
Name[ko]=±â¾ïÀåÄ¡ ·Îµå
Name[nl]=Geheugengebruik
Name[no]=Minnebelastning
Name[pt]=Uso de memória
Comment=Memory Load Meter
Comment=Speicherlastmesser
Comment[ca]=Mostra la càrrega de la memòria
Comment[es]=Muestra la carga de la memoria
Comment[eu]=Memorian dagoen zama neurtzeko
Comment[fi]=Muistinkulutusmittari
Comment[fr]=Indique la charge de la mémoire vive
Comment[hu]=Memóriahasználat-jelzõ
Comment[ja]=¥á¥â¥êÉé²Ù¥á¡¼¥¿¡¼
Comment[ko]=±â¾ïÀåÄ¡ ·Îµå Ç¥½Ã
Comment[nl]=Geheugengebruik
Comment[no]=Måler for prosessorlast
Comment[pt]=Mostra o nível de utilização da memória
Exec=multiload_applet --activate-goad-server=multiload_memload_applet
Icon=
Terminal=0
Type=Application
