[Desktop Entry]
Name=MemLoad
Name[ca]=Càrrega de Memòria
Name[da]=Hukommelsesmåler
Name[de]=Speicherlast
Name[el]=Öüñôïò ÌíŞìçò
Name[es]=Carga memoria
Name[et]=Mälu koormus
Name[eu]=Memoria zama
Name[fi]=Muistinkulutus
Name[fr]=Charge de la mémoire
Name[gl]=Carga da Memoria
Name[hu]=Memóriafoglaltság
Name[it]=Carico memoria
Name[ja]=¥á¥â¥êÉé²Ù
Name[ko]=±â¾ïÀåÄ¡ ·Îµå
Name[lt]=Atminties apkrovimas
Name[nl]=Geheugengebruik
Name[no]=Minnebelastning
Name[pl]=Pamiêæ
Name[pt]=Uso de memória
Name[ru]=úÁÇÒÕÚËÁ ĞÁÍÑÔÉ
Name[sv]=Minnesanvändning
Name[tr]=Bellek kullanımı
Comment=Memory Load Meter
Comment[ca]=Mostra la càrrega de la memòria
Comment[da]=Måler hukommelsesbelastningen
Comment[de]=Messgerät für die Speicherlast
Comment[el]=Åìöáíßæåé ôï öüñôï ôçò ìíŞìçò
Comment[es]=Muestra la carga de la memoria
Comment[et]=Näitab mälu täidetust
Comment[eu]=Memorian dagoen zama neurtzeko
Comment[fi]=Muistinkulutusmittari
Comment[fr]=Indique la charge de la mémoire vive
Comment[gl]=Medidor da carga da memoria
Comment[hu]=Memóriahasználat-jelzõ
Comment[it]=Mostra l'andamento del livello di utilizzazione della memoria in un grafico
Comment[ja]=¥á¥â¥êÉé²Ù¥á¡¼¥¿¡¼
Comment[ko]=±â¾ïÀåÄ¡ ·Îµå Ç¥½Ã
Comment[lt]=Atminties uşimtumo matuoklis
Comment[nl]=Geheugengebruik
Comment[no]=Måler for minnebelastning
Comment[pl]=Monitor wykorzystania pamiêci
Comment[pt]=Mostra o nível de utilização da memória
Comment[ru]=éÚÍÅÒÉÔÅÌØ ÚÁÇÒÕÚËÉ ĞÁÍÑÔÉ
Comment[sv]=Mätare för minnesanvänding
Comment[tr]=Bellek kullanınımını gösterir
Exec=multiload_applet --activate-goad-server=multiload_memload_applet
Icon=gnome-mem.png
Terminal=0
Type=Application
