[Desktop Entry]
Name=MemLoad
Name[ja]=¥á¥â¥êÉé²Ù
Name[es]=Carga memoria
Name[fr]=Charge mémoire
Name[no]=Minnebelastning
Name[pt]=Uso de memória
Name[nl]=Geheugengebruik
Comment=Memory Load Meter
Comment[ja]=¥á¥â¥êÉé²Ù¥á¡¼¥¿¡¼
Comment[es]=Muestra la carga de la memoria
Comment[fr]=Montre la charge de la mémoire vive
Comment[no]=Måler for prosessorlast
Comment[pt]=Mostra o nível de utilização da memória
Comment[nl]=Geheugengebruik
Exec=multiload_applet --activate-goad-server=multiload_memload_applet
Icon=
Terminal=0
Type=Application
