[Desktop Entry]
Name=SwapLoad
Name[fr]=Charge CPU
Name[ko]=¡ﬂæ”√≥∏Æ¿Âƒ° ∑ŒµÂ
Name[no]=ProsessorLast
Name[de]=Prozessorlast
Name[pl]=Procesor
Name[pt]=Carga CPU
Comment=Swap Load Meter
Comment[fr]=Charge du processeur
Comment[ko]=¡ﬂæ”√≥∏Æ¿Âƒ° ∑ŒµÂ √¯¡§
Comment[no]=MÂler for prosessorlast
Comment[de]=Prozessorlastanzeige
Comment[pl]=Monitor obci±øenia procesora
Comment[pt]=Monitor da carga de CPU
Exec=multiload_applet --swap
Icon=
Terminal=0
Type=Application


