[Desktop Entry]
Name=WebControl
Name[es]=Control WEB
Name[ko]=웹 조종판
Name[pl]=Pasek adresu URL
Name[fr]=WebControle
Name[pt]=Controlo WEB
Comment=WebControl
Comment[es]=Control WEB
Comment[ko]=웹 조종판
Comment[pl]=Pasek adresu URL
Comment[fr]=WebControle
Comment[pt]=Controlo WEB
Exec=webcontrol_applet
Icon=
Terminal=0
Type=Application
