[Desktop Entry]
Name=WebControl
Name[ja]=¥¦¥§¥Ö¥³¥ó¥È¥í¡¼¥ë
Name[es]=Control WEB
Name[fi]=Selainohjain
Name[hu]=WEB-indítópult
Name[ko]=À¥ Á¶Á¾ÆÇ
Name[pl]=Pasek adresu URL
Name[fr]=WebControle
Name[pt]=Controlo WEB
Name[no]=WebKontroll
Name[nl]=Web controle
Comment=WebControl
Comment[ja]=¥¦¥§¥Ö¥³¥ó¥È¥í¡¼¥ë
Comment[es]=Control WEB
Comment[fi]=WWW-selaimen ohjaussovelma
Comment[hu]=WEB-brosert indít URL-el
Comment[ko]=À¥ Á¶Á¾ÆÇ
Comment[pl]=Pasek adresu URL
Comment[fr]=WebControle
Comment[pt]=Controlo WEB
Comment[no]=WebKontroll
Comment[nl]=Web controle
Exec=webcontrol_applet --activate-goad-server=webcontrol_applet
Icon=
Terminal=0
Type=Application
