[Desktop Entry]
Name=WebControl
Name[es]=Control WEB
Name[eu]=AMARAUNzain
Name[fi]=Selainohjain
Name[fr]=WebControle
Name[hu]=WEB-indítópult
Name[ja]=¥¦¥§¥Ö¥³¥ó¥È¥í¡¼¥ë
Name[ko]=À¥ Á¶Á¾ÆÇ
Name[nl]=Web controle
Name[no]=WebKontroll
Name[pl]=Pasek adresu URL
Name[pt]=Controlo WEB
Comment=WebControl
Comment[es]=Control WEB
Comment[eu]=Amaraunaren kontrola
Comment[fi]=WWW-selaimen ohjaussovelma
Comment[fr]=WebControle
Comment[hu]=WEB-brosert indít URL-el
Comment[ja]=¥¦¥§¥Ö¥³¥ó¥È¥í¡¼¥ë
Comment[ko]=À¥ Á¶Á¾ÆÇ
Comment[nl]=Web controle
Comment[no]=WebKontroll
Comment[pl]=Pasek adresu URL
Comment[pt]=Controlo WEB
Exec=webcontrol_applet --activate-goad-server=webcontrol_applet
Icon=
Terminal=0
Type=Application
