[Desktop Entry]
Name=GKB International KeyBoard
Name[hu]=GKB Billentyûzet átkapcsoló
Name[pt]=GKB Teclado Internacional
Name[no]=GKB internasjonalt tastatur
Comment=GKB Keyboard Switcher
Comment[hu]=GKB billentyûzet kapcsoló
Comment[pt]=GKB permite mudar a configuração do seu teclado
Comment[no]=GKB tastaturvelger
Exec=gkb_applet
Icon=gkb.xpm
Terminal=0
Type=Application
