[Desktop Entry]
Name=GKB International KeyBoard
Name[hu]=GKB Billentyûzet átkapcsoló
Comment=GKB Keyboard Switcher
Comment[hu]=GKB billentyûzet kapcsoló
Exec=gkb_applet
Icon=gkb.xpm
Terminal=0
Type=Application
