[Desktop Entry]
Name=Odometer
Name[et]=Spidomeeter
Name[fr]=Odometer
Name[ja]=¥ª¥É¥á¡¼¥¿¡¼
Name[wa]=Sori-mete
Comment=Mouse movements counter
Comment[et]=Mõõdab hiire läbitud vahemaad
Comment[fr]=Compteurs des deplacements de la souris
Comment[ja]=¥Þ¥¦¥¹¤Î°ÜÆ°µ÷Î¥·×
Comment[wa]=Cobén di kilometes fjhoz-ve avou vosse sori ?
Exec=odometer_applet --activate-goad-server=odometer_applet
Icon=
Terminal=0
Type=Application
