[Desktop Entry]
Name=Odometer
Name[de]=Kilometerzδhler
Name[el]=Οδόμετρο
Name[et]=Spidomeeter
Name[fr]=Odometer
Name[gl]=Odometer
Name[ja]=¥ª¥Ι¥α΅Ό¥Ώ΅Ό
Name[no]=Odometer
Name[wa]=Sori-mete
Comment=Mouse movements counter
Comment[de]=Misst die Laufstrecke der Maus
Comment[el]=Μετρητής μετακινήσεων ποντικιού
Comment[et]=Mυυdab hiire lδbitud vahemaad
Comment[fr]=Compteurs des deplacements de la souris
Comment[gl]=Contador dos movementos do rato
Comment[ja]=¥ή¥¦¥Ή¤Ξ°άΖ°µχΞ¥·Χ
Comment[no]=Mεler lengde pε musbevegelser
Comment[wa]=Cobιn di kilometes fjhoz-ve avou vosse sori ?
Exec=odometer_applet --activate-goad-server=odometer_applet
Icon=gnome-odometer.png
Terminal=0
Type=Application
