[Desktop Entry]
Name=Odometer
Name[da]=Odometer
Name[de]=Kilometerzähler
Name[el]=Ïäüìåôñï
Name[et]=Spidomeeter
Name[fi]=Matkamittari
Name[fr]=Odometer
Name[gl]=Odometer
Name[ja]=¥ª¥É¥á¡¼¥¿¡¼
Name[lt]=Odometras
Name[no]=Odometer
Name[pl]=Licznik drogi
Name[ru]=ïÄÏÍÅÔÒ
Name[sv]=Odometer
Name[tr]=Odometre
Name[wa]=Sori-mete
Comment=Mouse movements counter
Comment[da]=Måler hvor langt musen bevæger sig
Comment[de]=Misst die Laufstrecke der Maus
Comment[el]=ÌåôñçôŞò ìåôáêéíŞóåùí ğïíôéêéïı
Comment[et]=Mõõdab hiire läbitud vahemaad
Comment[fi]=Hiiren osoittimen matkamittari
Comment[fr]=Compteurs des deplacements de la souris
Comment[gl]=Contador dos movementos do rato
Comment[ja]=¥Ş¥¦¥¹¤Î°ÜÆ°µ÷Î¥·×
Comment[lt]=Pelës judëjimo matuoklis
Comment[no]=Måler lengde på musbevegelser
Comment[pl]=Licznik drogi przebytej przez wska¼nik myszy
Comment[ru]=éÚÍÅÒÉÔÅÌØ ĞÒÏÂÅÇÁ ÍÙÛÉ
Comment[sv]=Räknar musrörelser
Comment[tr]=Masaüstünde kat'ettiğin mesafeyi gösterir
Comment[wa]=Cobén di kilometes fjhoz-ve avou vosse sori ?
Exec=odometer_applet --activate-goad-server=odometer_applet
Icon=gnome-odometer.png
Terminal=0
Type=Application
