[Desktop Entry]
Name=Clipboard
Name[de]=Zwischenablage
Name[el]=Τεμάχιο
Name[et]=Koopialaud
Name[hu]=Vαgσlap
Name[ja]=₯―₯κ₯Γ₯Χ₯ά‘Ό₯Ι
Comment=Copy multible selections into a persistant clipboard
Comment[de]=Mehrere Auswahlen in eine bestδndige Zwischenablage kopieren
Comment[el]=Αντιγραφή επιλογών σε ένα παραμένων τεμάχιο
Comment[et]=Vυimaldab kanda palju erinevaid koopiaid pόsivasse puhvrisse
Comment[hu]=Tφbb kijelφlιs egy perzisztens vαgσlapra tιtele
Comment[ja]=₯»₯μ₯―₯·₯η₯σ€ς₯―₯κ₯Γ₯Χ₯ά‘Ό₯Ι€ΛΚέΒΈ
Exec=clipboard_applet --activate-goad-server=clipboard_applet
Icon=gnome-clipboard.png
Terminal=0
Type=Application





