/GNOME_CPUFreqApplet.server
/GNOME_CPUFreqApplet.server.in
/cpufreq-applet.schemas
/help/*/cpufreq-applet.xml
/src/cpufreq-applet
/src/cpufreq-selector/cpufreq-selector
/src/cpufreq-selector/cpufreq-selector-service-glue.h
/src/cpufreq-selector/org.gnome.CPUFreqSelector.service
/src/cpufreq-selector/org.gnome.cpufreqselector.policy
