[Desktop Entry]
Name=Battery Monitor
Name[ko]=건전지 모니터
Comment=Battery Monitor
Comment[ko]=건전지 모니터
Exec=batmon_applet
Icon=
Terminal=0
Type=Application
