[Desktop Entry]
Name=Battery Monitor
Name[es]=Monitor de batería
Name[fr]=Moniteur de Baterie
Name[ko]=°ÇÀüÁö °¨½Ã
Name[no]=Batterimonitor
Name[de]=Batterieanzeige
Name[pl]=Stan baterii
Name[pt]=Monitor de Bateria
Comment=Battery Monitor
Comment[es]=Muestra al estado de la batería
Comment[fr]=Moniteur de Baterie GNOME
Comment[ko]=°ÇÀüÁö °¨½Ã
Comment[no]=Gnome Batterimonitor
Comment[de]=GNOME Batterieanzeige Applet
Comment[pl]=Monitor na³adowania baterii
Comment[pt]=Monitor de Bateria
Exec=batmon_applet
Icon=
Terminal=0
Type=Application
