[Desktop Entry]
Name=Game of Life
Name[de]=Game of Life
Name[eu]=Bizitzaren Jokoa
Comment=The Game of Life (to waste your time)
Comment[de]=Das Spiel des Lebens (zu Ihrer Zeitverschwendung)
Comment[eu]=Bizitzaren Jokoa(denborapasa)
Exec=life_applet --activate-goad-server=life_applet
Icon=
Terminal=0
Type=Application
