[Desktop Entry]
Name=Game of Life
Name[ca]=El Joc de la Vida
Name[de]=Game of Life
Name[el]=Το Παιχνίδι της Ζωής
Name[es]=El Juego de la Vida
Name[et]=Elumδng
Name[eu]=Bizitzaren Jokoa
Name[fi]=Elδmδn peli
Name[fr]=Jeu de la vie
Name[gl]=Xogo da Vida
Name[ja]=¥ι¥¤¥Υ¥²΅Ό¥ΰ
Name[ko]=»ύΈν °ΤΐΣ
Name[no]=Livets spill
Name[pl]=―ycie
Name[sv]=Life
Name[wa]=Li djeu del vicεreye
Comment=The Game of Life (to waste your time)
Comment[ca]=El joc de la vida en applet (per perdre el temps)
Comment[de]=Das Spiel des Lebens (zu Ihrer Zeitverschwendung)
Comment[el]=Το Παιχνίδι της Ζωής (για να περάσετε την ώρα σας)
Comment[es]=El Juego de la Vida en applet (para pasar el tiempo)
Comment[et]=Elusimulatsioon
Comment[eu]=Bizitzaren Jokoa(denborapasa)
Comment[fi]=Elδmδn peli (ajanhukaksi)
Comment[fr]=Le jeu de la vie (pour perdre votre temps)
Comment[gl]=O Xogo da Vida (para perde-lo seu tempo)
Comment[ja]=(¤Ά¤Κ¤Ώ¤Ξ»ώ΄Φ¤ςΟ²Θρ¤Ή¤λ)¥ι¥¤¥Υ¥²΅Ό¥ΰ
Comment[ko]=»ύΈν °ΤΐΣ, ¶σΐΜΗΑ °ΤΐΣ (½Γ°£ ³¶ΊρΐΣ)
Comment[no]=Livets spill (for ε kaste bort tiden din)
Comment[pl]=Gra w Ώycie (poch³aniacz czasu)
Comment[sv]=The Game of Life (tidsfφrdriv)
Comment[wa]=Li djeu del vicεreye θn aplikete (po waester vosse tins)
Exec=life_applet --activate-goad-server=life_applet
Icon=gnome-life.png
Terminal=0
Type=Application
