[Desktop Entry]
Name=Mailcheck
Name[fr]=Mailcheck
Name[ko]=편지 확인
Name[no]=Postsjekk
Comment=Mailcheck
Comment[fr]=Mailcheck
Comment[ko]=편지 확인
Comment[no]=Sjekk for post
Exec=mailcheck_applet
Icon=
Terminal=0
Type=Application
