[Desktop Entry]
Name=Hal
Name[da]=HAL
Name[de]=HAL 2001
Name[el]=HAL 2001
Name[et]=Hal 2001
Name[fi]=HAL
Name[hu]=HAL 2001
Name[ja]=HAL
Name[no]=Hal
Name[ru]=HAL 2001
Name[uk]=HAL 2001
Name[wa]=HAT 2001
Comment=Hal 2001 applet
Comment[da]=En applet der opf¯rer sig ligesom HAL fra filmen 'Rumrejsen Âr 2001'
Comment[de]=HAL-2001-Applet
Comment[fi]=HAL Avaruusseikkailu 2001:st‰
Comment[el]=≈ˆ·ÒÏÔ„ﬂ‰ÈÔ HAL 2001
Comment[et]=Hal 2001 applet
Comment[gl]=Applet Hal-2001
Comment[hu]=HAL 2001 applet
Comment[ja]=•¢•◊•Ï•√•»»«HAL2001
Comment[no]=Hal 2001 applet
Comment[ru]=·––Ã≈‘ HAL 2001
Comment[uk]=·–Ã≈‘ HAL 2001
Comment[wa]=Cnoxhoz HAL? Li copiutrece di 2001, ene odyseye di l' espÂce; li vola metou Ën aplikete
Exec=hal_applet --activate-goad-server=hal_applet
Icon=hal/hal.png
Terminal=0
Type=Application
