[Desktop Entry]
Name=Hal
Name[hu]=HAL 2001
Name[fi]=HAL
Comment=Hal
Comment[hu]=HAL 2001 applet
Comment[fi]=HAL Avaruusseikkailu 2001:stä
Exec=hal_applet --activate-goad-server=hal_applet
Icon=hal/hal.png
Terminal=0
Type=Application
