*.o
*.a
*.lo
*.la
*.stamp
*.bak
*.tmp
*.swp
.tm*

*.mo
*.omf

.libs
.deps

/INSTALL
/aclocal.m4
/autom4te.cache
/config.guess
/config.h
/config.h.in
/config.log
/config.status
/config.sub
/configure
/depcomp
/gnome-applets.spec
/gnome-doc-utils.make
/install-sh
/intltool-extract.in
/intltool-merge.in
/intltool-update.in
/libtool
/ltmain.sh
/missing
/mkinstalldirs
/omf.make
/py-compile
/stamp-h1
/xmldocs.make
Makefile
Makefile.in
