*~
po/*.gmo
po/POTFILES
Makefile.in
*.libs
*.deps
.anjuta*
window-picker-applet.anjuta
data/org.gnome.panel.applet.WindowPickerFactory.service
src/*.o
data/GNOME_WindowPicker.server
data/GNOME_WindowPicker.server.in
data/org.gnome.applets.WindowPicker.panel-applet.in
data/org.gnome.applets.WindowPicker.panel-applet
data/window-picker-applet.schemas
debian/stamp-autotools-files
debian/stamp-makefile-build
debian/window-picker-applet
debian/window-picker-applet.postinst.debhelper
debian/window-picker-applet.postrm.debhelper
debian/window-picker-applet.prerm.debhelper
debian/window-picker-applet.substvars
po/Makefile
po/stamp-it
po/.intltool-merge-cache
src/Makefile
src/window-picker-applet
missing
stamp-h1
data/Makefile
debian/files
ltmain.sh
libtool
intltool-extract
intltool-merge
intltool-update
install-sh
depcomp
configure
config.guess
config.guess.cdbs-orig
config.h
config.h.in
config.log
config.status
config.sub
config.sub.cdbs-orig
autom4te.cache
Makefile
*.gmo
aclocal.m4

#m4
private.m4
libtool.m4
ltoptions.m4
ltsugar.m4
ltversion.m4
lt~obsolete.m4
