Makefile
Makefile.in
Makefile.in.in
po/*.gmo
src/*.o
COPYING
GNOME_NetspeedApplet.server
GNOME_NetspeedApplet.server.in
INSTALL
aclocal.m4
autom4te.cache/
config.guess
config.h
config.log
config.status
config.sub
configure
depcomp
gnome-doc-utils.make
.xml2po.mo
help/*.omf
help/pt_BR/netspeed_applet.xml
help/sv/netspeed_applet.xml
install-sh
intltool-extract.in
intltool-merge.in
intltool-update.in
libtool
ltmain.sh
m4/
missing
mkinstalldirs
netspeed_applet.spec
omf.make
po/.intltool-merge-cache
po/POTFILES
po/stamp-it
src/.deps/
src/netspeed_applet2
stamp-h1
xmldocs.make
help/el/netspeed_applet.xml
*~
help/fr/netspeed_applet.xml

