[Desktop Entry]
Name=gEyes
Name[fi]=Silmät
Name[hu]=Szemek
Name[no]=Øyne
Name[sv]=gÖgon
Comment=A applet that watches your mouse.
Comment[fi]=Hiirikursoriasi silmälläpitävä sovelma.
Comment[hu]=Az egérkurzort figyelõ szemek
Comment[no]=En applet som følger med på dine musbevegelser.
Comment[sv]=En applet som sneglar på din muspekare.
Exec=geyes_applet --activate-goad-server=geyes_applet
Icon=
Terminal=0
Type=Application
