[Desktop Entry]
Name=PPP Dialer
Name[de]=PPP-Wähler
Name[es]=Discador PPP
Name[eu]=PPP dei egilea
Name[fi]=PPP-soittaja
Name[fr]=Numéroteur PPP
Name[hu]=PPP tárcsázó
Name[ja]=PPP¥À¥¤¥ä¥é¡¼
Name[ko]=PPP °É±â
Name[no]=PPP-oppringing
Name[nl]=PPP connector
Name[pl]=Po³±czenie PPP
Name[pt]=Ligação PPP
Comment=PPP Dialer
Comment[de]=PPP-Verbindung herstellen oder abbrechen
Comment[es]=Inicia/termina una conexión PPP
Comment[eu]=PPP konexioa hasi edo amaitzeko
Comment[fi]=Muodostaa/lopettaa PPP-yhteyden
Comment[fr]=Numéroteur PPP GNOME
Comment[hu]=Egy PPP-tárcsázó applet
Comment[ja]=PPP¥À¥¤¥ä¥é¡¼
Comment[ko]=PPP °É±â
omment[nl]=PPP connector
Comment[no]=Program for PPP-oppringing
Comment[pl]=Obs³uga po³aczenia PPP
Comment[pt]=Efectua uma ligação PPP
Exec=dialer_applet --activate-goad-server=dialer_applet
Icon=
Terminal=0
Type=Application
