[Desktop Entry]
Name=PPP Dialer
Name[ko]=PPP °É±â
Name[no]=PPP-oppringing
Name[pl]=Po³±czenie PPP
Name[fr]=Numéroteur PPP
Comment=PPP Dialer
Comment[ko]=PPP °É±â
Comment[no]=Program for PPP-oppringing
Comment[pl]=Obs³uga po³aczenia PPP
Comment[fr]=Numéroteur PPP GNOME
Exec=dialer_applet
Icon=
Terminal=0
Type=Application
