[Desktop Entry]
Name=PPP Dialer
Name[no]=PPP-oppringing
Comment=PPP Dialer
Comment[no]=Program for PPP-oppringing
Exec=dialer_applet
Icon=
Terminal=0
Type=Application
