[Desktop Entry]
Name=Mini-Commander
Name[ja]=ミニコマンダー
Name[fr]=
Name[de]=
Name[ko]=
Name[no]=
Comment=Mini-Commander
Comment[ja]=ミニコマンダー
Comment[fr]=
Comment[de]=
Comment[ko]=
Comment[no]=
Exec=mini_commander_applet  --activate-goad-server=mini-commander_applet
Icon=
Terminal=0
Type=Application
