[Desktop Entry]
Name=SlashApp
Name[es]=SlashApp
Name[fr]=SlashApp
Name[no]=SlashApp
Comment=Show last news from slashdot.org
Comment[es]=Últimas noticias de slashdot.org
Comment[fr]=Dernières nouvelles de slashdot.org
Exec=slash_applet
Icon=
Terminal=0
Type=Application
