[Desktop Entry]
Name=Desk Guide
Comment=GNOME Desktop Guide (Pager)
Exec=deskguide_applet --activate-goad-server=deskguide_applet
Icon=
Terminal=0
Type=Application
