[Desktop Entry]
Name=Bus Sign
Name[fr]=Panneau d'Affichage
Name[no]Busskilt
Comment=Bus Sign
Comment[fr]=Panneau d'Affichage
Comment[no]=Busskilt
Exec=bussign_applet
Icon=
Terminal=0
Type=Application
