[Desktop Entry]
Name=Bus Sign
Name[ja]=ΠⅩⅥⅳτ
Name[es]=Panel de mensajes
Name[fr]=Panneau d'Affichage
Name[ko]=버스 표시
Name[no]=Busskilt
Name[pt]=Painel de mensagens
Comment=Bus Sign
Comment[ja]=ΠⅩⅥⅳτ
Comment[es]=Panel de mensajes
Comment[fr]=Panneau d'Affichage
Comment[ko]=버스 표시
Comment[no]=Busskilt
Comment[pt]=Painel de mensagens
Exec=bussign_applet --activate-goad-server=bussign_applet
Icon=
Terminal=0
Type=Application
