[Desktop Entry]
Name=Bus Sign
Name[ca]=Plafσ de missatges
Name[da]=Busskilt
Name[de]=Busschild
Name[el]=Πινακίδα μηνυμάτων
Name[es]=Panel de mensajes
Name[et]=Bussipeatus
Name[eu]=Mezuen panela
Name[fi]=Bussikyltti
Name[fr]=Panneau d'Affichage
Name[gl]=Panel de Mensaxes
Name[ja]=¥Π¥Ή¥µ¥¤¥σ
Name[ko]=Ήφ½Ί Η¥½Γ
Name[nl]=Berichtenbord
Name[no]=Busskilt
Name[pt]=Painel de mensagens
Name[sv]=Busskylt
Comment=Bus Sign
Comment[ca]=Un plafσ per posar-hi missatges
Comment[da]=Busskilt
Comment[de]=Busschild
Comment[el]=Πινακίδα με μηνύματα
Comment[es]=Panel de mensajes
Comment[et]=Bussipeatuse silt
Comment[eu]=Mezuen panela
Comment[fi]=Bussikyltti
Comment[fr]=Panneau d'Affichage
Comment[gl]=Panel de Mensaxes
Comment[ja]=¥Π¥Ή¥µ¥¤¥σ
Comment[ko]=Ήφ½Ί Η¥½Γ
Comment[nl]=Berichtenbord
Comment[no]=Busskilt
Comment[pt]=Painel de mensagens
Comment[sv]=Busskylt
Exec=bussign_applet --activate-goad-server=bussign_applet
Icon=
Terminal=0
Type=Application
