[Desktop Entry]
Name=Battery Status Utility
Name[sv]=Batteriövervakare
Name[pl]=Status baterii
Comment=Battery Status Utility
Comment[sv]=Visar nivån på ditt batteri
Comment[pl]=Przedstawia status baterii
Exec=battstat_applet --activate-goad-server=battstat_applet
Icon=battstat.png
Terminal=0
Type=Application
