[Desktop Entry]
Name=CPU/MEM usage
Name[no]=Prosessor/Minne-bruk
Comment=CPU/MEM usage meter
Comment[no]=Måler for bruk av prosessor og minne
Exec=cpumemusage_applet
Icon=
Terminal=0
Type=Application
