[Desktop Entry]
Name=Sound Monitor
Name[fi]=Äänivalvoja
Comment=Sound Monitor for Esound
Comment[fi]=Esound-äänipalvelimen valvontasovelma
Exec=sound-monitor_applet --activate-goad-server=sound-monitor_applet
Icon=gnome-vumeter.png
Terminal=0
Type=Application
