[Desktop Entry]
Name=Sound Monitor
Name[de]=Soundmonitor
Name[el]=¸ëåã÷ïò ôïõ Ş÷ïõ
Name[es]=Monitor de sonido
Name[et]=Helimonitor
Name[fi]=Äänivalvoja
Name[gl]=Monitor de Son
Name[ja]=¥µ¥¦¥ó¥É¥â¥Ë¥¿
Name[no]=Lydmonitor
Name[uk]=ú×ÕËÏ×ÉÊ ÍÏÎ¦ÔÏÒ
Comment=Sound Monitor for Esound
Comment[de]=Soundmonitor für Esound
Comment[el]=¸ëåã÷ïò ôïõ Ş÷ïõ ãéá ôï Esound
Comment[es]=Monitor de sonido para Esound
Comment[et]=Esound deemoni jälgija
Comment[fi]=Esound-äänipalvelimen valvontasovelma
Comment[gl]=Monitor de son para Esound
Comment[ja]=Esound¤Î¥µ¥¦¥ó¥É¥â¥Ë¥¿
Comment[no]=Lydmonitor for Esound
Comment[uk]=ú×ÕËÏ×ÉÊ ÍÏÎ¦ÔÏÒ ÄÌÑ Esound
Exec=sound-monitor_applet --activate-goad-server=sound-monitor_applet
Icon=gnome-vumeter.png
Terminal=0
Type=Application
