[Desktop Entry]
Name=Drive Mount
Name[de]=Laufwerk
Name[es]=Montador de discos
Name[eu]=Diska muntatzailea
Name[fi]=Levynliitos
Name[fr]=Montage de disques
Name[hu]=Lemezbeillesztõ
Name[ja]=¥É¥é¥¤¥Ö¥Þ¥¦¥ó¥È
Name[ko]=µå¶óÀÌºê ¸¶¿îÆ®
Name[nl]=Drive Mount
Name[no]=Diskmontering
Name[pl]=Obs³uga napêdów
Name[pt]=Drive Mount
Comment=Mounts and unmount drives
Comment[de]=Hängt Laufwerke ein oder aus
Comment[es]=Permite montar/desmontar discos/disquettes/CD/...
Comment[eu]=Diskak, CDak eta abar muntatzekoa
Comment[fi]=Liittää ja irroittaa tiedostojärjestelmiä
Comment[fr]=Montage de disques
Comment[hu]=Lemezbeillesztõ (mount) applet
Comment[ja]=¥É¥é¥¤¥Ö¤Î¥Þ¥¦¥ó¥È¤È¥¢¥ó¥Þ¥¦¥ó¥È
Comment[ko]=µå¶óÀÌºê ¸¶¿îÆ®/¾ð¸¶¿îÆ®
Comment[nl]=Mounts en unmounts drives
Comment[no]=Monterer og avmonterer disker
Comment[pl]=Montuje i odmontowuje napêdy
Comment[pt]=Monta e desmonta 'drives'
Exec=drivemount_applet --activate-goad-server=drivemount_applet
Icon=
Terminal=0
Type=Application
