[Desktop Entry]
Name=Drive Mount
Name[pt_BR]=Montar Drive
Name[ca]=Muntador d'Unitats
Name[da]=Drevmontering
Name[de]=Laufwerk
Name[el]=ĞñïóÜñôçóç Ïäçãşí
Name[es]=Montador de discos
Name[et]=Mountija
Name[eu]=Diska muntatzailea
Name[fi]=Levynliitos
Name[fr]=Montage de disques
Name[gl]=Montador de Unidades
Name[hu]=Lemezbeillesztõ
Name[it]=Montadischi
Name[ja]=¥É¥é¥¤¥Ö¥Ş¥¦¥ó¥È
Name[ko]=µå¶óÀÌºê ¸¶¿îÆ®
Name[lt]=Diskø montuoklis
Name[nl]=Drive Mount
Name[no]=Diskmontering
Name[pl]=Obs³uga napêdów
Name[pt]=Drive Mount
Name[ru]=ğÏÄËÌÀŞÅÎÉÅ ÄÉÓËÁ
Name[sv]=Enhetsmonterare
Name[tr]=Sürücü yüklenmesi
Name[uk]=íÏÎÔÕ×ÁÎÎÑ ĞÒÉÓÔÒÏ§×
Name[wa]=Monteu di plakes
Comment=Mounts and unmount drives
Comment[pt_BR]=Monta e desmonta drives.
Comment[ca]=Munta i desmunta unitats de disc
Comment[da]=Monterer og afmonterer drev
Comment[de]=Hängt Laufwerke ein oder aus
Comment[el]=Åğéôñİğåé ôçí ğñïóÜñôçóç/áğïóÜñôçóç äéóêåôôşí/äßóêùí/CD...
Comment[es]=Permite montar/desmontar discos/disquettes/CD/...
Comment[et]=Võimaldab mountida/unmountida kettaseadmeid
Comment[eu]=Diskak, CDak eta abar muntatzekoa
Comment[fi]=Liittää ja irroittaa tiedostojärjestelmiä
Comment[fr]=Monte et démonte les disques
Comment[gl]=Monta e desmonta unidades
Comment[hu]=Lemezbeillesztõ (mount) applet
Comment[it]=Applet che permette di montare e smontare unità a dischi
Comment[ja]=¥É¥é¥¤¥Ö¤Î¥Ş¥¦¥ó¥È¤È¥¢¥ó¥Ş¥¦¥ó¥È
Comment[ko]=µå¶óÀÌºê ¸¶¿îÆ®/¾ğ¸¶¿îÆ®
Comment[lt]=Uşmontuoja ir numontuoja kaupiklius
Comment[nl]=Mounts en unmounts drives
Comment[no]=Monterer og avmonterer disker
Comment[pl]=Montuje i odmontowuje napêdy
Comment[pt]=Monta e desmonta 'drives'
Comment[ru]=ğÏÄËÌÀŞÅÎÉÅ É ÏÔËÌÀŞÅÎÉÅ ÄÉÓËÏ×
Comment[sv]=Monterar och avmonterar enheter
Comment[tr]=Sürücüleri ekleyip ayırtır
Comment[uk]=íÏÎÔÕ×ÁÎÎÑ ÔÁ ÄÅÍÏÎÔÕ×ÁÎÎÑ ĞÒÉÓÔÒÏ§×
Comment[wa]=Aplikete po monter èt dismonter des plakes
Exec=drivemount_applet --activate-goad-server=drivemount_applet
Icon=mc/i-floppy.png
Terminal=0
Type=Application
