[Desktop Entry]
Name=Drive Mount
Name[fr]=Montage de disques
Name[no]=Diskkobling
Comment=Mounts and unmount drives
Comment[no]=Kobler til og ifra disker
Comment[fr]=Monte et Démonte les disques
Exec=drivemount_applet
Icon=
Terminal=0
Type=Application
