[Desktop Entry]
Name=Tick-a-Stat
Comment=Info and status ticker
Exec=tickastat_applet --activate-goad-server=tickastat_applet
Icon=
Terminal=0
Type=Application
