[Desktop Entry]
Name=Disk Usage
Name[ja]=¥Ç¥£¥¹¥¯ÍÆÎÌ
Name[es]=Utilización Disco
Name[fr]=Utilisation Disque
Name[ko]=µð½ºÅ© »ç¿ë·®
Name[no]=Diskbruk
Name[de]=Disk Usage
Name[pl]=Przestrzeñ dyskowa
Name[pt]=Utilização dos discos
Name[nl]=Harddiskgebruik
Comment=Disk usage meter
Comment[ja]=¥Ç¥£¥¹¥¯ÍÆÎÌ
Comment[es]=Muestra el porcentage de espacio disco utilizado
Comment[fr]=Affiche le pourcentage d'utilisation du disque
Comment[ko]=µð½ºÅ© »ç¿ë·® ÃøÁ¤
Comment[no]=Oversikt over diskbruk
Comment[de]=Disk usage meter
Comment[pl]=Monitor przestrzeni dyskowej
Comment[pt]=Mostra a percentagem de utilização dos discos
Comment[nl]=Harddiskgebruik
Exec=diskusage_applet --activate-goad-server=diskusage_applet
Icon=
Terminal=0
Type=Application
