[Desktop Entry]
Name=DISK usage
Name[fr]=Utilisation Disk
Name[ko]=µð½ºÅ© »ç¿ë·®
Name[no]=Diskbruk
Name[de]=Disk Usage
Name[pl]=Przestrzeñ dyskowa
Comment=Disk usage meter
Comment[fr]=Disk usage meter
Comment[ko]=µð½ºÅ© »ç¿ë·® ÃøÁ¤
Comment[no]=Oversikt over diskbruk
Comment[de]=Disk usage meter
Comment[pl]=Monitor przestrzeni dyskowej
Exec=diskusage_applet
Icon=
Terminal=0
Type=Application
