[Desktop Entry]
Name=DISK usage
Name[fr]=Utilisation Disk
Name[ko]=디스크 사용량
Name[no]=Diskbruk
Name[de]=Disk Usage
Comment=Disk usage meter
Comment[fr]=Disk usage meter
Comment[ko]=디스크 사용량 측정
Comment[no]=Oversikt over diskbruk
Comment[de]=Disk usage meter
Exec=diskusage_applet
Icon=
Terminal=0
Type=Application
