[Desktop Entry]
Name=Where Am I?
Name[de]=Wo bin ich?
Name[es]=¿Adonde estoy?
Name[et]=Kus ma olen?
Name[fi]=Missä olen?
Name[ja]=»ä¤Ï¤É¤³?
Name[no]=Hvor er jeg?
Name[wa]=Wice so-dje?
Comment=Shows Cursor Position
Comment[de]=Zeigt die Cursorposition
Comment[es]=Muestra la posición del cursor
Comment[et]=Näitab kursori asupaika
Comment[fi]=Näyttää kursorin sijainnin
Comment[ja]=¥«¡¼¥½¥ë°ÌÃÖ¤òÉ½¼¨
Comment[no]=Viser markørposisjonen
Comment[wa]=Mostere wice k' est li curseu
Exec=whereami_applet --activate-goad-server=whereami_applet
Icon=
Terminal=0
Type=Application
