[Desktop Entry]
Name=Where Am I?
Name[fi]=Missä olen?
Name[ja]=»ä¤Ï¤É¤³?
Name[no]=Hvor er jeg?
Comment=Shows Cursor Position
Comment[fi]=Näyttää kursorin sijainnin
Comment[ja]=¥«¡¼¥½¥ë°ÌÃÖ¤òÉ½¼¨
Comment[no]=Viser markørposisjonen
Exec=whereami_applet --activate-goad-server=whereami_applet
Icon=
Terminal=0
Type=Application
