[Desktop Entry]
Name=Where Am I?
Name[fi]=Miss‰ olen?
Comment=Shows Cursor Position
Comment[fi]=N‰ytt‰‰ kursorin sijainnin
Exec=whereami_applet --activate-goad-server=whereami_applet
Icon=
Terminal=0
Type=Application
