[Desktop Entry]
Name=ScreenShooter
Name[da]=Skζrmbillede
Name[el]=Πυροβολητής Εικόνας (ScreenShooter)
Name[gl]=Capturador de Pantalla
Name[no]=Skjermdumper
Name[tr]=Ekran-yakalayύcύsύ
Comment=Screen Shooter is a screenshot grabber
Comment[da]=Tag et ψjebliksbillede af skζrmen
Comment[el]=To ScreenShooter αρπάζει ένα αντίγραφο της επιφάνειας εργασίας για αποθήκευση σε αρχείο
Comment[gl]=Fai capturas de pantalla (screenshots)
Comment[no]=Applet for ε ta skjermdump
Comment[tr]=Ekranύnύn bir resmini ηeker
Exec=screenshooter_applet --activate-goad-server=screenshooter_applet
Icon=screenshooter_applet.png
Terminal=0
Type=Application
