[Desktop Entry]
Name=Gnome Pager
Name[es]=Gnome Pager
Name[ko]=Gnome 其捞历
Name[no]=Gnome Virtuell skjermvelger
Name[pl]=Gnome Pager
Name[fr]=Gnome Pagination
Name[pt]=Gnome Pager
Comment=Desktop Pager
Comment[es]=Permite navegar entre los diferentes escritorios virtuales
Comment[ko]=单胶农啪 其捞历
Comment[no]=Velger aktiv virtuell skjerm for skrivebordet
Comment[pl]=Pager desktopu
Comment[fr]=Pagination de l'閏ran
Comment[pt]=Indica e modifica qual ambiente de trabalho corrente
Exec=gnomepager_applet --activate-goad-server=gnomepager_applet
Icon=
Terminal=0
Type=Application
