[Desktop Entry]
Name=Fifteen
Name[de]=Fünfzehn
Name[es]=Quince
Comment=Fifteen cells game
Comment[de]=15 Zellen Spiel
Comment[es]=Juego de 15 celdas
Exec=fifteen_applet
Icon=
Terminal=0
Type=Application
