[Desktop Entry]
Name=GNOME Stock Ticker
Name[ca]=
Name[de]=
Name[el]=GNOME Aktien-Ticker
Name[es]=
Name[et]=
Name[eu]=
Name[fi]=
Name[fr]=Piocheur de valeurs GNOME
Name[gl]=
Name[ja]=
Name[ko]=
Name[no]=
Name[pl]=
Name[pt_BR]=
Name[sv]=
Name[wa]=
Comment=GNOME Stock Ticker Panel Applet
Comment[ca]=
Comment[de]=GNOME Aktien-Ticker Panel Applet
Comment[el]=
Comment[es]=
Comment[et]=
Comment[eu]=
Comment[fi]=
Comment[fr]=Applet piocheur de valeurs boursières GNOME
Comment[gl]=
Comment[ja]=
Comment[ko]=
Comment[no]=
Comment[pl]=
Comment[pt_BR]=
Comment[sv]=
Comment[wa]=
Exec=gtik2_applet --activate-goad-server=gtik2_applet
Icon=
Terminal=0
Type=Application
