[Desktop Entry]
Name=FreshApp
Comment=Show recent items from freshmeat.net
Exec=fresh_applet --activate-goad-server=fresh_applet
Icon=
Terminal=0
Type=Application
