[Desktop Entry]
Name=Window List
Name[no]=Vindusliste
Comment=Top Level Window List
Comment[no]=Liste over alle vinduer
Exec=winlist_applet
Icon=
Terminal=0
Type=Application
