[Desktop Entry]
Name=CD Player
Name[ca]=Reproductor de CD
Name[da]=Cdafspiller
Name[de]=CD-Spieler
Name[el]=Αναγνώστης CD
Name[es]=Lector de CD
Name[et]=CD mδngija
Name[eu]=CD irakurlea
Name[fi]=CD-soitin
Name[fr]=Lecteur CD
Name[gl]=Reproductor de CD
Name[hu]=CD-lejαtszσ
Name[it]=Lettore CD
Name[ja]=CD₯Χ₯μ‘Ό₯δ‘Ό
Name[ko]=CD ΐη»ύ
Name[nl]=CD Speler
Name[no]=CD-spiller
Name[pl]=Odtwarzacz CD
Name[pt]=Leitor de CD
Name[sv]=CD-spelare
Name[uk]=πÒΟΗÒΑΧΑή CD
Name[wa]=Lijheu di CD
Comment=CD Player
Comment[ca]=Reproductor de CD de GNOME
Comment[da]=Afspil lyd-CD'er
Comment[de]=GNOME-CD-Spieler-Applet
Comment[el]=Αναγνώστης συσκευής CD
Comment[es]=Lector de CD
Comment[et]=CD mδngija paneelile
Comment[eu]=CD irakurlea
Comment[fi]=CD-soitin
Comment[fr]=Lecteur CD GNOME
Comment[gl]=Reproductor de CD de GNOME
Comment[hu]=CD-lejαtszσ applet
Comment[it]=Lettore CD
Comment[ja]=CD₯Χ₯μ‘Ό₯δ‘Ό
Comment[ko]=CD ΐη»ύ
Comment[nl]=CD Speler
Comment[no]=GNOME CD-spiller
Comment[pl]=Odtwarzacz p³yt CD
Comment[pt]=Leitor de CD
Comment[sv]=CD-spelare
Comment[uk]=πÒΟΗÒΑΧΑή CD
Comment[wa]=Lijheu di plakes lazer di Gnome
Exec=cdplayer_applet --activate-goad-server=cdplayer_applet
Icon=mc/i-cdrom.png
Terminal=0
Type=Application
