[Desktop Entry]
Name=CD Player
Name[fr]=Lecteur CD
Name[ko]=CD Àç»ý
Name[no]=CD-spiller
Name[de]=CD-Spieler
Name[pl]=Odtwarzacz CD
Name[pt]=Leitor de CD
Comment=CD Player
Comment[fr]=Lecteur CD GNOME
Comment[ko]=CD Àç»ý
Comment[no]=Gnome CD-spiller
Comment[de]=GNOME CD-Spieler Applet
Comment[pl]=Odtwarzacz p³yt CD
Comment[pt]=Leitor de CD
Exec=cdplayer_applet
Icon=
Terminal=0
Type=Application
