[Desktop Entry]
Name=CD Player
Name[de]=CD-Spieler
Name[es]=Lector de CD
Name[eu]=CD irakurlea
Name[fi]=CD-soitin
Name[fr]=Lecteur CD
Name[hu]=CD-lejátszó
Name[ja]=CD¥×¥ì¡¼¥ä¡¼
Name[ko]=CD Àç»ý
Name[nl]=CD Speler
Name[no]=CD-spiller
Name[pl]=Odtwarzacz CD
Name[pt]=Leitor de CD
Comment=CD Player
Comment[de]=GNOME CD-Spieler Applet
Comment[es]=Lector de CD
Comment[eu]=CD irakurlea
Comment[fi]=CD-soitin
Comment[fr]=Lecteur CD GNOME
Comment[hu]=CD-lejátszó applet
Comment[ja]=CD¥×¥ì¡¼¥ä¡¼
Comment[ko]=CD Àç»ý
Comment[nl]=CD Speler
Comment[no]=GNOME CD-spiller
Comment[pl]=Odtwarzacz p³yt CD
Comment[pt]=Leitor de CD
Exec=cdplayer_applet --activate-goad-server=cdplayer_applet
Icon=
Terminal=0
Type=Application
