[Desktop Entry]
Name=Modem Lights
Name[ko]=¸ğµ© ±ô¹ÚÀÌ
Name[fr]=Lumières Modem
Name[no]=Modemlys
Comment=Show modem status
Comment[ko]=¸ğµ© »óÅÂ¸¦ º¸¿©ÁÜ
Comment[fr]=Affiche l'état du modem
Comment[no]=Vis modemstatus
Exec=modemlights_applet
Icon=
Terminal=0
Type=Application
