[Desktop Entry]
Name=Modem Lights
Name[ko]=모뎀 깜박이
Name[no]=Modemlys
Comment=Show modem status
Comment[ko]=모뎀 상태를 보여줌
Comment[no]=Vis modemstatus
Exec=modemlights_applet
Icon=
Terminal=0
Type=Application
