[Desktop Entry]
Name=Clock and Mailcheck
Name[no]=Klokke og postsjekk
Comment=Displays new mail and time
Comment[no]=Viser ny post og klokken
Exec=clockmail_applet
Icon=
Terminal=0
Type=Application
