[Desktop Entry]
Name=Clock and Mailcheck
Name[ko]=시계와 편지확인
Name[no]=Klokke og postsjekk
Name[pl]=Zegar z monitorem poczty
Comment=Displays new mail and time
Comment[ko]=새로운 편지와 시각을 알려줌
Comment[no]=Viser ny post og klokken
Comment[pl]=Zegar z monitorem poczty
Exec=clockmail_applet
Icon=
Terminal=0
Type=Application
