[Desktop Entry]
Name=Netwatch
Name[ja]=ネットウォッチ
Name[es]=Monitor Red
Name[fr]=Moniteur R閟eau
Name[ko]=匙飘况农 惑怕
Name[no]=Nettverksoverv錵ing
Name[pt]=Monitor de Rede
Name[nl]=Netwerkmonitor
Comment=Netwatch
Comment[ja]=ネットウォッチ
Comment[es]=Monitor de la red
Comment[fr]=Moniteur R閟eau
Comment[ko]=匙飘况农 惑怕
Comment[no]=Gnome nettverksoverv錵ing
Comment[pt]=Monitor de Rede
Comment[nl]=Netwerkmonitor
Exec=netwatch_applet --activate-goad-server=netwatch_applet
Icon=
Terminal=0
Type=Application
