[Desktop Entry]
Name=Netwatch
Name[fr]=Moniteur R閟eau
Name[ko]=匙飘况农 惑怕
Name[no]=Nettverksoverv錵ing
Name[pt]=Monitor de Rede
Comment=Netwatch
Comment[fr]=Moniteur R閟eau
Comment[ko]=匙飘况农 惑怕
Comment[no]=Gnome nettverksoverv錵ing
Comment[pt]=Monitor de Rede
Exec=netwatch_applet
Icon=
Terminal=0
Type=Application
