[Desktop Entry]
Name=Mini-Commander
Name[ja]=ミニコマンダー
Name[fr]=Mini-Commander
Name[de]=
Name[hu]=Mini-Commander
Name[ko]=
Name[no]=Mini-Commander
Name[nl]=Mini-Commander
Comment=Mini-Commander
Comment[ja]=ミニコマンダー
Comment[fr]=Applet Mini-Commander
Comment[de]=
Comment[hu]=Parancssor egy appletben
Comment[ko]=
Comment[no]=Kommandolinje for panelet
Comment[nl]=Mini-Commander
Exec=mini_commander_applet  --activate-goad-server=mini-commander_applet
Icon=
Terminal=0
Type=Application
