[Desktop Entry]
Name=bug-applet
Comment=Submit a bug to the GNOME bug tracking system
Comment[el]=Υποβολή αναφοράς σφάλματος στο σύστημα καταγραφής σφαλμάτων GNOME
Comment[wa]=Evoyi on rapoirt di bug ε sistinme di shϋvu di bugs di GNOME
Exec=bug-applet --activate-goad-server=bug-applet
Icon=gnome-nmemonic.png
Terminal=0
Type=Application
