[Desktop Entry]
Name=bug-applet
Name[da]=Fejlafhjælper
Name[de]=Fehlerbericht
Name[el]=ÁíáöïñÜ ÓöÜëìáôïò
Name[fi]=Ohjelmavirhesovelma
Name[fr]=Bogue
Name[lt]=bug-priedas
Name[no]=Feil-applet
Name[pl]=Obserwator b³êdów
Name[pt_BR]=bug-applet
Name[ru]=áĞĞÌÅÔ "ïÛÉÂËÁ"
Name[sk]=Aplet pre chyby
Name[sv]=Felrapportsapplet
Name[tr]=bug-applet
Comment=Submit a bug to the GNOME bug tracking system
Comment[da]=Send en fejlrapport til Gnomes fejlovervågningssystem
Comment[de]=Einen Fehlerbericht (Bug-Report) zum GNOME Bug Tracking System schicken
Comment[el]=ÕğïâïëŞ áíáöïñÜò óöÜëìáôïò óôï óıóôçìá êáôáãñáöŞò óöáëìÜôùí GNOME
Comment[fi]=Lähetä virheraportti GNOMEn virheenjäljitys järjestelmään
Comment[fr]=Soumet un bogue au système de suivi de bogue GNOME
Comment[gl]=Enviar un informe de erro ó sistema de seguimento de erros de GNOME
Comment[lt]=Pasiøsk praneğimà apie klaidà GNOME klaidø gaudymo sistemai
Comment[no]=Send inn en feilrapport til feilrapporteringssytemet for GNOME
Comment[pl]=Aplet wysy³aj±cy opisy b³êdów do systemu ¶ledzenia b³êdów GNOME
Comment[pt_BR]=Submeter uma falha ao sistema de rastreamento de falhas do GNOME.
Comment[ru]=ïÔĞÒÁ×ËÁ ÓÏÏÂİÅÎÉÑ ÏÂ ÏÛÉÂËÅ × ÓÉÓÔÅÍÕ ÏÂÒÁÂÏÔËÉ ÏÛÉÂÏË Gnome
Comment[sk]=Odosielanie záznamu o chybe do systému sledovania chıb GNOME
Comment[sv]=Skicka en felrapport till GNOME's felsökningssystem
Comment[tr]=Gnome hata raporu yazma uygulağı
Comment[uk]=÷ÎÅÓÅÎÎÑ ĞÏÍÉÌËÉ ÄÏ ÓÉÓÔÅÍÉ ×¦ÄÓÌ¦ÄËÏ×Õ×ÁÎÎÑ ĞÏÍÉÌÏË GNOME
Comment[wa]=Evoyi on rapoirt di bug å sistinme di shûvu di bugs di GNOME
Exec=bug-applet --activate-goad-server=bug-applet
Icon=gnome-bug-tracker.png
Terminal=0
Type=Application
