[Desktop Entry]
Name=Mixer
Name[ja]=¥ß¥­¥µ¡¼
Name[es]=Mezclador de sonidos
Name[fr]=Mixer
Name[ko]=º¼·ý Á¶Á¤
Name[no]=Mikser
Name[de]=Mischpult
Name[pl]=Mikser
Name[pt]=Mesa de Mistura
Comment=Audio Mixer
Comment[ja]=¥ª¡¼¥Ç¥£¥ª¥ß¥­¥µ¡¼
Comment[es]=Mezclador de sonidos
Comment[fr]=Table de mixage GNOME
Comment[ko]=¼Ò¸® º¼·ý Á¶Á¤
Comment[no]=Gnome lydmikser
Comment[de]=GNOME Mischpult
Comment[pl]=Mikser d¼wiêkowy
Comment[pt]=Mesa de mistura audio GNOME
Exec=mixer_applet --activate-goad-server=mixer_applet
Icon=
Terminal=0
Type=Application
