[Desktop Entry]
Name=GNotes!
Name[de]=GNotes!
Name[el]=GΣημειώσεις!
Name[et]=GMδrkmed!
Name[ja]=GNotes!
Comment=GNotes!
Comment[de]=Fόr Klebenotizen auf Ihrem Desktop.
Comment[el]=Επιτρέπει τη χρήση σημειώσεων τύπου Post-it
Comment[et]=Kollased mδrkmepaberid, mida saab kleepida kineskoobi sisepinnale
Comment[ja]=GNOMEΙΥδµ
Exec=gnotes_applet --activate-goad-server=gnotes_applet
Icon=
Terminal=0
Type=Application
