[Desktop Entry]
Name=GNotes!
Name[da]=GNoter!
Name[de]=GNotes!
Name[el]=GΣημειώσεις!
Name[et]=GMδrkmed!
Name[fi]=GNotes
Name[ja]=GNotes!
Name[no]=Gnotis!
Name[pl]=GNotes!
Name[sv]=GNoteringar!
Name[tr]=GNotlar!
Comment=GNotes!
Comment[da]=Gule huskesedler pε dit skrivebord
Comment[de]=Fόr Klebenotizen auf Ihrem Desktop.
Comment[el]=Επιτρέπει τη χρήση σημειώσεων τύπου Post-it
Comment[et]=Kollased mδrkmepaberid, mida saab kleepida kineskoobi sisepinnale
Comment[fi]=Muistilaput
Comment[ja]=GNOMEΙΥδµ
Comment[lt]=Geltoni lapeliai pastaboms
Comment[no]=Gule lapper for skrivebordet
Comment[pl]=Notatki dla GNOME
Comment[sv]=Smε gula noteringar pε ditt skrivbord
Comment[tr]=Notlar uyguladύ
Exec=gnotes_applet --activate-goad-server=gnotes_applet
Icon=gnome-gnotes.png
Terminal=0
Type=Application
