[Desktop Entry]
Name=GNotes!
Name[da]=GNoter!
Name[de]=GNotes!
Name[el]=GÓçìåéşóåéò!
Name[et]=GMärkmed!
Name[fi]=GNotes
Name[fr]=GNotes !
Name[ja]=GNotes!
Name[no]=Gnotis!
Name[pl]=GNotes!
Name[pt_BR]=GNotes!
Name[sk]=GPoznámky!
Name[sv]=GNoteringar!
Name[tr]=GNotlar!
Comment=GNotes!
Comment[da]=Gule huskesedler på dit skrivebord
Comment[de]=Für Klebenotizen auf Ihrem Desktop.
Comment[el]=Åğéôñİğåé ôç ÷ñŞóç óçìåéşóåùí ôığïõ Post-it
Comment[et]=Kollased märkmepaberid, mida saab kleepida kineskoobi sisepinnale
Comment[fi]=Muistilaput
Comment[fr]=GNotes !
Comment[ja]=GNOMEÉÕäµ
Comment[lt]=Geltoni lapeliai pastaboms
Comment[no]=Gule lapper for skrivebordet
Comment[pl]=Notatki dla GNOME
Comment[pt_BR]=GNotes!
Comment[sk]=GPoznámky!
Comment[sv]=Små gula noteringar på ditt skrivbord
Comment[tr]=Notlar uyguladı
Exec=gnotes_applet --activate-goad-server=gnotes_applet
Icon=gnome-gnotes.png
Terminal=0
Type=Application
