[Desktop Entry]
Name=QuickLaunch
Name[da]=Kvikstart
Name[no]=Hurtigstart
Comment=Small Launchers 
Comment[da]=Små startgenveje
Comment[no]=Små startknapper
Exec=quicklaunch_applet --activate-goad-server=quicklaunch_applet
Icon=gnome-quicklaunch.png
Terminal=0
Type=Application
