[Desktop Entry]
Name=QuickLaunch
Comment=Small Launchers 
Exec=quicklaunch_applet --activate-goad-server=quicklaunch_applet
Icon=
Terminal=0
Type=Application
