[Desktop Entry]
Name=Printer Applet
Name[fr]=Impression
Comment=Printer Applet
Comment[fr]=Moniteur d'Impression
Exec=printer_applet
Icon=
Terminal=0
Type=Applet
