[Desktop Entry]
Name=Printer Applet
Name[fr]=Impression
Name[de]=Drucker
Comment=Printer Applet
Comment[fr]=Moniteur d'Impression
Comment[de]=Drucker Applet
Exec=printer_applet
Icon=
Terminal=0
Type=Applet
