[Desktop Entry]
Name=Printer Applet
Name[fr]=Impression
Name[de]=Drucker
Name[no]=Skriver
Comment=Printer Applet
Comment[fr]=Moniteur d'Impression
Comment[de]=Drucker Applet
Comment[no]=Skriverovervåking
Exec=printer_applet
Icon=
Terminal=0
Type=Applet
