[Desktop Entry]
Name=Clock
Name[cs]=Hodiny
Name[ko]=시계
Comment=Clock
Comment[cs]=Hodiny
Comment[ko]=시계
Exec=clock_applet
Icon=
Terminal=0
Type=Application
