[Desktop Entry]
Name=Another Clock
Name[es]=Reloj Analógico
Comment=An analog clock similar to that in CDE panel
Comment[es]=Reloj analógico similar al del panel del CDE
Exec=another_clock_applet --activate-goad-server=another_clock_applet
Icon=
Terminal=0
Type=Application
