[Desktop Entry]
Name=GNOME Weather
Name[fi]=Säänvalvonta
Name[no]=GNOME værmelding
Comment=GNOME weather monitor applet
Comment[fi]=GNOME-säänvalvontasovelma
Comment[no]=GNOME værmelding applet
Exec=gweather --activate-goad-server=gweather
Icon=gweather/tstorm.xpm
Terminal=false
Type=Application
