[Desktop Entry]
Name=GNOME Weather
Comment=GNOME weather monitor applet
Exec=gweather --activate-goad-server=gweather
Icon=
Terminal=false
Type=Application
