[Desktop Entry]
Name=Character Picker
Name[no]=Tegnvelger
Comment=character picker
Comment[no]=Tegnvelger
Exec=charpick_applet
Icon=
Terminal=0
Type=Application
