[Desktop Entry]
Name=AfterStep Clock
Name[pt]=Relógio AfterStep
Comment=Just another clock
Comment[pt]=Simplesmente mais um relógio
Exec=asclock_applet
Icon=
Terminal=0
Type=Application
