[Desktop Entry]
Name=GTicker
Name[es]=GTicker
Name[fr]=GTicker
Name[ko]=GTicker
Name[hu]=GTicker
Name[no]=GTicker
Name[pt]=GTicker
Name[nl]=GTicker
Exec=gticker_applet --activate-goad-server=gticker_applet
Icon=
Terminal=0
Type=Application
