[Desktop Entry]
Name=GTicker
Name[da]=GTikker
Name[de]=GTicker
Name[es]=GTicker
Name[eu]=GTicker
Name[fi]=GTicker
Name[fr]=GTicker
Name[gl]=GTicker
Name[hu]=GTicker
Name[ja]=GTicker
Name[ko]=GTicker
Name[nl]=GTicker
Name[no]=GTicker
Name[pt]=GTicker
Exec=gticker_applet --activate-goad-server=gticker_applet
Icon=
Terminal=0
Type=Application
