[Desktop Entry]
Name=GUMMA
Comment=Media Player
Comment[de]=Medienwiedergabe
Exec=gumma --activate-goad-server=gumma
Icon=gnome-audio2.png
Terminal=0
Type=Application
