[Desktop Entry]
Name=GUMMA
Name[no]=GUMMA
Name[da]=GUMMA-afspiller
Name[el]=GUMMA
Name[fi]=GUMMA
Name[it]=GUMMA
Name[pl]=GUMMA
Name[ru]=çõííá
Name[sv]=GUMMA
Name[tr]=GUMMA
Comment=Media Player
Comment[pt_BR]=Mídia player
Comment[da]=Media-afspiller
Comment[de]=Medienwiedergabe
Comment[el]=ÁíáğáñáãùãŞ Ğïëõìİóùí
Comment[fi]=Mediasoitin
Comment[gl]=Reproductor Multimedia
Comment[it]=Riproduttore multimediale
Comment[lt]=Media grotuvas
Comment[no]=Mediaavspiller
Comment[pl]=Odtwarzacz multimediów
Comment[ru]=íÕÌØÔÉÍÅÄÉÁ-ĞÒÏÉÇÒÙ×ÁÔÅÌØ
Comment[sv]=Mediaspelare
Comment[tr]=Medya çaları
Comment[uk]=ğÌÅ¤Ò ÍÕÌØÔÉÍÅÄ¦Á
Exec=gumma --activate-goad-server=gumma
Icon=gnome-audio2.png
Terminal=0
Type=Application
