[Desktop Entry]
Name=Esound Manager
Name[es]=Esound Manager
Name[ko]=Esound Manager
Name[no]=Esound Manager
Name[pl]=Esound Manager
Name[fr]=Esound Manager
Name[pt]=Esound Manager
Comment=Esound network audio mixer manager and monitoring program
Comment[es]=Programa de monitoreo y de mezclado audio por red de Esound
Comment[fr]=Programme de monitoring et de mixage audio par réseau d'Esound
Exec=esdmanager_applet --activate-goad-server=esdmanager_applet
Icon=
Terminal=0
Type=Application
