[Desktop Entry]
Name=Battery Charge Monitor
Name[es]=Monitor de carga batería
Name[fr]=Moniteur de charge Baterie
Name[pt]=Monitor da carga da bateria
Name[no]=Monitor for batterilading
Comment=Battery Charge Monitor
Comment[es]=Muestra al estado de carga de la batería
Comment[fr]=Montre l'état de charge de la baterie
Comment[pt]=Mostra qual o estado de carga da bateria.
Comment[no]=Monitor for batterilading
Exec=battery_applet --activate-goad-server=battery_applet
Icon=
Terminal=0
Type=Application
