[Desktop Entry]
Name=NetLoad
Name[fr]=Charge Réseau
Name[de]=Netzlast
Name[no]=Nettverkslast
Comment=Network Activity Meter
Comment[fr]=Moniteur de la charge réseau
Comment[de]=Anzeige der Netzauslastung
Comment[no]=Monitor for belastning av nettverk
Exec=netload_applet
Icon=
Terminal=0
Type=Application
