[Desktop Entry]
Name=NetLoad
Name[fr]=Charge Réseau
Comment=Network Activity Meter
Comment[fr]=Moniteur de la charge réseau
Exec=netload_applet
Icon=
Terminal=0
Type=Application
