[Desktop Entry]
Name=NetLoad
Name[fr]=Charge Réseau
Name[de]=Netzlast
Name[ko]=³×Æ®¿öÅ© ·Îµå
Name[no]=Nettverkslast
Name[pl]=Transfer sieciowy
Comment=Network Activity Meter
Comment[fr]=Moniteur de la charge réseau
Comment[de]=Anzeige der Netzauslastung
Comment[ko]=³×Æ®¿öÅ© ·Îµå ÃøÁ¤
Comment[no]=Monitor for belastning av nettverk
Comment[pl]=Monitor obci±¿enia sieci
Exec=netload_applet
Icon=
Terminal=0
Type=Application
