[Desktop Entry]
Name=CPULoad
Name[no]=ProsessorLast
Comment=CPU Load Meter
Comment[no]=Måler for prosessorlast
Exec=cpuload_applet
Icon=
Terminal=0
Type=Application
