[Desktop Entry]
Name=CPULoad
Name[fr]=Charge CPU
Name[no]=ProsessorLast
Comment=CPU Load Meter
Comment[fr]=Charge du processeur
Comment[no]=Måler for prosessorlast
Exec=cpuload_applet
Icon=
Terminal=0
Type=Application
