[Desktop Entry]
Name=Pager
Name[ko]=其捞历
Name[fr]=Pageur
Name[no]=Persons鴎er
Comment=Desktop Pager
Comment[ko]=单胶农啪 其捞历
Comment[fr]=Pagination du bureau
Comment[no]=Persons鴎er for skrivebordet
Exec=wmpager_applet
Icon=
Terminal=0
Type=Application
