[Desktop Entry]
Name=Pager
Name[es]=Pager
Name[ko]=其捞历
Name[no]=Persons鴎er
Name[pl]=Pager
Name[fr]=Pagination
Name[pt]=Pager
Comment=Desktop Pager
Comment[es]=Permite navegar entre los diferentes escritorios virtuales
Comment[ko]=单胶农啪 其捞历
Comment[no]=Persons鴎er for skrivebordet
Comment[pl]=Pager desktopu
Comment[fr]=Pagination de l'閏ran
Comment[pt]=Indica e modifica qual ambiente de trabalho corrente
Exec=wmpager_applet
Icon=
Terminal=0
Type=Application
